<html>
<head>
	<!-- <link rel="stylesheet" href="bootstrap.min.css"> -->
	<link rel="stylesheet" href="style.css">

	<script type="text/javascript" src="mustache.js"></script>


</head>
<body style="background-color: rgb(241, 242, 246); width:100% ; overflow-x : hidden ">

<div class="ionic" style="width:99% ; " >
	<div id="example-item-thumbnails" class="" >
 <!--    <div class="bar bar-header">
      <div class="h1 title">Item Thumbnails</div>
    </div>
 -->

 	<script id="main" type="text/x-handlebars-template" >

        {{#list}}
		


	        <a class="item item-thumbnail-left" href="#">
	            <img src="a.jpg">
	            <h2> {{name}}</h2>
	            <p>  Activity : {{activity}} </p>
				<p>  Distance : {{distance}} </p>
	        </a>


		{{/list}}


	 </script>


    <div class="content has-header ionic-pseudo">

      <div class="list">

      	<script type="text/javascript">

				var data = {list:[  { name :  "lll"  , status : "hello" , imgurl : "a.jpg" } , { name : "ffff" , status : "wwww"  , imgurl : "a.jpg" }    ]};
				var data = #j ;
				var source   = $("#main").html();
				var template = Handlebars.compile(source);
				document.write(  Mustache.render(source,  data  )  );

      	</script>




      </div>

    </div>
  </div>


  <br>
  <br>
  <br>
</div>


</body>

</html>